<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
        <span class="navbar-brand m-0 p-0">
            <img src="/img/logo.png" height="32" alt="Inamujer Consulado Contigo" height="80">
        </span>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-hover <%= page == 'home' ? 'active':'' %>" href="/">Inicio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-hover <%= page == 'cities' ? 'active':'' %>" href="/cities">Redes
                        de apoyo</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-hover <%= page == 'consulates' ? 'active':'' %>"
                        href="/consulates">Consulado</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-hover <%= page == 'chat' ? 'active':'' %>"
                        href="/chat">Atenci칩n en linea</a>
                </li>
            </ul>

            <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Iniciar
                sesi칩n <i class="bi bi-box-arrow-in-right"></i></a>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Iniciar sesi칩n</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form class="">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Usuario</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Contrase침a</label>
                    </div>
                </form>
            </div>
            <div class="d-flex justify-content-center py-3">
                <button type="button" class="btn btn-primary px-5">Iniciar</button>
            </div>
        </div>
    </div>
</div>