<div class="text-end fixed-bottom btn-ws" style="width: 60px; height: 60px;">
    <a href="https://wa.me/584127848101" class="m-auto">
        <!-- <i class=" ws-btn bg-success rounded-circle px-2 py-1 text-white display-6 bi bi-whatsapp"></i> -->
        <img class="rounded-circle ws-btn" src="/img/logo-wasap.png" width="50" height="50">
    </a>
</div>