<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('includes/head') %>
</head>
<body class="bg-primary">
    <main class="container text-center my-auto">
        <article class="card">
            <section class="card-body py-5">
                <h1 class="text-primary display-1 fw-bold"><i class="bi bi-search"></i> 404</h1>
                <p class="fs-3 text-secondary">
                    Lo siento . . . pero, <br>
                    La página que buscas no existe.
                </p>
                <span class="text-secondary fw-semi-bold fs-5">
                    ir a <a href="/" class="icon-link">inicio <i class="bi bi-house"></i></a>
                </span>
            </section>
        </article>
    </main>
</body>
</html>