<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('includes/head') %>
</head>
<body class="bg-primary">
    <div class="container text-center my-auto">
        <div class="card">
            <div class="card-body py-5">
                <h1 class="text-primary display-1 fw-bold"><i class="bi bi-hdd-stack"></i> 500</h1>
                <h2 class="text-secondary">Lo siento . . . pero,</h2>
                <h2 class="text-secondary">La página que buscas no existe.</h2>
                <p class="text-secondary fw-semi-bold fs-5"> ir a <a href="/" class="icon-link">inicio <i class="bi bi-house"></i></a></p>
            </div>
        </div>
    </div>
</body>
</html>