<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/css/msg.css">
    <link rel="stylesheet" href="/css/validations.css">

    <script type="module">
        import { io } from 'https://cdn.socket.io/4.3.2/socket.io.esm.min.js'
        
        // variables
        let socket
        let user

        // Funcion para imprimir mensajes
        const printMsg = (data) =>{            
            const chat = document.getElementById('chat-body')
            const div = document.createElement('div')
            if (data.username === user) {
                div.classList.add('msg', 'msg-own')
                div.innerHTML = `<span>Yo</span><p>${data.message}</p>`
            }else{
                div.classList.add('msg', 'msg-other')
                div.innerHTML = `<span>${data.username}</span><p>${data.message}</p>`
            }
            chat.appendChild(div)
            // chat.scrollTop = chat.scrollHeight
        }

        // Funcion para iniciar la sala
        const initiateSocket = (auth) => {
            socket = io({auth})
            console.log('Socket iniciado')
        }


        // Primer formulario
        document.getElementById('form-details').addEventListener('submit', (e) => {
            e.preventDefault()

            const email = document.getElementById('email').value
            const ic = document.getElementById('ic').value
            const name = document.getElementById('name').value
            const lastname = document.getElementById('lastname').value
            const message = document.getElementById('message').value
            
            const botMsg = `Bienvenida ${name} ${lastname}. Por favor espere un momento, estamos atendiendo su solicitud...`

            user = name

            printMsg({username: 'Bot', message: botMsg})
            printMsg({username: name, message})

            if (!socket) {
                initiateSocket({ username : name, ic : ic })
            }

            socket.emit('room', {email, ic, name, lastname, message})
            console.log("Mensaje enviado:",{email, ic, name, lastname, message})

            // cambiar de formulario
            document.getElementById('form').classList.add('d-none')
            document.getElementById('chat').classList.remove('d-none')

            subscribeToChat((err, data) => {
                if (err) {return}
                // chat = [data, ...chat]
                printMsg(data)
                // console.log(`Historial del chat: ${chat}`);
            })
        })

       
        // Segundo formulario
        document.getElementById('form-chat').addEventListener('submit', (e) => {
            e.preventDefault()
            const msg = document.getElementById('msg')
            if (msg.value) {
                // socket.emit('chat message', msg.value)
                sendMessage(msg.value)
                msg.value = ''
            }
        })

        const sendMessage = (msg) => {
            if (socket) {socket.emit('chat', msg )}
        }

        // Funcion para escuchar los mensajes
        const subscribeToChat = (cb) => {
            if (!socket) return console.log('Socket no iniciado')
            console.log('Escuchando...');
            
            socket.on('chat', msg => {
                console.log('Websocket chat recivido!');
                return cb(null, msg)
            }) 
        }

    </script>
</head>

<body>
    <%- include('includes/nav') %>

    <header class="text-center text-white bg-primary">
        <h1>Atencion en linea</h1>
    </header>

    <main class="d-flex justify-content-center flex-fill bg-tertiary px-1">
        <section id="form" class="col-12 col-md-10 bg-body-tertiary my-4 rounded p-3" style="height: fit-content;">
            <p class="lead">Por favor ingrese sus datos</p>
            <form class="row" id="form-details">
                <div class="col-7 col-md-6">
                    <div class="form-floating mb-3">
                        <input required type="email" autocomplete="off" class="form-control" id="email" placeholder="name@example.com">
                        <label class="text-primary" for="email">Correo</label>
                        <span class="invalid-feedback">Por favor ingrese un correo valido</span>
                    </div>
                </div>

                <div class="col-5 col-md-6">
                    <div class="form-floating mb-3">
                        <input required type="text" autocomplete="off" class="form-control" id="ic" placeholder="12345678" pattern="[0-9]{7,9}">
                        <label class="text-primary" for="ic">Cédula</label>
                        <span class="invalid-feedback">Solo números de 7 a 9 digitos</span>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input required type="text" maxlength="25" autocomplete="off" class="form-control" id="name" placeholder="Nombre" pattern="[A-Za-z 0-9]+">
                        <label class="text-primary" for="name">Primer nombre</label>
                        <span class="invalid-feedback">Ingrese caracteres</span>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input required type="text" maxlength="25" autocomplete="off" class="form-control" id="lastname" placeholder="Apellido" pattern="[A-Za-z 0-9]+">
                        <label class="text-primary" for="lastname">Primer apellido</label>
                        <span class="invalid-feedback">Ingrese caracteres</span>
                    </div>
                </div>

                <hr>
                <p class="lead">Por favor ingrese su consulta</p>

                <div class="col-12">
                    <div class="form-floating">
                        <textarea required class="form-control" placeholder="Mensaje" id="message" minlength="10" maxlength="300" style="height: 100px"></textarea>
                        <label class="text-primary" for="message">Mensaje</label>
                        <span class="invalid-feedback">Debe de tener mínimo 10 caracteres</span>
                    </div>
                </div>

                <div class="col-12 text-center pt-3">
                    <button type="submit" class="btn btn-primary rounded-pill px-5">Enviar</button>
                </div>
            </form>
        </section>

        <section id="chat" class="col-12 col-md-10 bg-body-tertiary d-none" style="height: fit-content;">
            
            <div id="chat-body" class="msg-panel p-3 border-top border-bottom">
            </div>

            <form class="input-group p-3" id="form-chat">
                <button class="input-group-text">
                    <i class="bi bi-send-fill text-secondary"></i>
                </button>
                <input type="text" class="form-control" placeholder="Enviar un mensaje" name="msg" id="msg">
            </form>
        </section>
    </main>

    <%- include('includes/footer') %>
</body>

</html>