<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hermosa</title>
    <%- include('includes/head') %>
</head>
<body class="bg-primary">
    <main class="container  my-auto">
        <article class="card card-body py-2 d-flex flex-column align-items-center">
            <img src="/img/egg/img.jpeg" alt="Glorianger y su hija" style="max-width: 300px;">
            <h1 class="text-primary display-2 mt-2 text-center">
                <i class="bi bi-balloon-heart-fill"></i> Hermosa <i class="bi bi-moon-stars-fill"></i>
            </h1>
        </article>
    </main>
</body>
</html>