<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('includes/head') %>
    <style>
        .btn-chat, .btn-ws{
            display: none;
        }
    </style>
</head>

<body class="bg-tertiary">
    <%- include('includes/nav') %>

    <div class="container flex-fill d-flex justify-content-center align-items-center py-5">
        <form class="form-control p-4" style="max-width: 400px;">
            <h3 class="display-6 fw-normal text-primary text-center mb-0">Iniciar sesión</h3>
            
            <p class="text-center mb-3 fw-normal text-secondary">Si usted es una operadora de inamujer. Por favor, ingrese sus credenciales.</p>
            
            <div class="form-floating mb-3">
                <input type="text" class="form-control rounded-pill" name="user" id="user" placeholder="name@example.com">
                <label class="text-primary" for="user">Usuario</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control rounded-pill" name="password" id="password" placeholder="Password">
                <label class="text-primary" for="password">Contraseña</label>
            </div>
            
            <div class="mt-3">
                <button class="btn btn-primary rounded-pill w-100">Ingresar</button>
            </div>
        </form>
    </div>

    <%- include('includes/footer') %>
</body>

</html>