/* hacer que el footer se vea abajo */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* footer */
footer{
    margin-top: auto;
    background-color: #161616;
}

/* hover */
.hover:hover{
    color: var(--bs-primary) !important;
}

/* active */
.navbar-nav .nav-link.active,.nav-link.active{
    font-weight: bold;
    color: var(--bs-primary) !important;
}

/* hover */
.nav-link-hover:hover{
    text-decoration: underline;
    color: var(--bs-primary) !important;
}

/* tabs */
.nav-tabs{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

textarea{
    resize: vertical;
}

.blur{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.blur:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.msg{
    position: relative;
}

.msg.received::after {
    content: '';
    width: 0; 
    height: 0;
    border-left: 0px solid transparent; 
    border-right: 12px solid transparent; 
    border-top: 7px solid  var(--bs-primary);
    position: absolute;
    /* bottom: -70px; */
    /* left: 0; */
}

.msg.sent::after {
    content: '';
    width: 0; 
    height: 0;
    border-left: 12px solid transparent; 
    border-right: 0px solid transparent; 
    border-top: 7px solid  var(--bs-secondary);
    position: absolute;
    /* bottom: -70px; */
    right: 0;
}