/* panel de mensajes */
.msg-panel {
    overflow-y: scroll;
    scroll-behavior: smooth;
    min-height: 200px;
    height: calc(60vh - 50px);
}

/* Mensajes */
.msg {
    position: relative;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem 0;
}

.msg p{
    margin: 0;
    color: #fff;
}

.msg-other {
    background-color: var(--bs-secondary);
    align-self: start;
    margin-right: 3rem;
}

.msg-own {
    background-color: var(--bs-primary);
    align-self: end;
    margin-left: 3rem;
}

.msg span{
    position: absolute;
    top: -1.5rem;
}

.msg-own span{
    right: 1rem;
}

.msg-other span{
    left: 1rem;
}